.statistics {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  border: 1px dotted salmon;
  background-color: honeydew;
}
.item {
  background-color: beige;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 100px;
  align-items: center;
  font-size: 22px;
  border-radius: 50px;
  margin: 5px;
}

.stat-list {
  list-style: none;
  display: flex;
  margin: 5px;
  padding: 0;
}

.title {
  text-align: center;
  font-size: 30px;
  margin: 0;
  margin-bottom: 5px;
}
